@model AspNetCoreToDo.Web.ViewModels.Tasks.TasksEditViewModel

@{
    ViewBag.Title = Model.IsAdding ? "Create New Task" : "Edit Task: " + @Model.Description;
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Tasks" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <fieldset>
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CategoryId"
                            asp-items="Model.CategoryOptions"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a asp-controller="Tasks" asp-action="Index" class="btn btn-secondary" role="button">Cancel</a>
                </div>
            </div>
            <input asp-for="Id" value="@Model.Id" type="hidden" />
        </div>
    </fieldset>
</form>